# EE379K Final Project
# An Experiment on Speed Dating
### Abigail Johnson, Jeremy Shahan, Raymond Wen, Jacob Williamson

In [1]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.regression.linear_model as regression
import numpy as np
import pandas as pd

##### I. Some preliminary exploration...

In [2]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
df = pd.read_csv('data/speed_dating.csv', encoding="ISO-8859-1")
print (df.head())
print (df.describe())

   iid   id  gender  idg  condtn  wave  round  position  positin1  order  \
0    1  1.0       0    1       1     1     10         7       NaN      4
1    1  1.0       0    1       1     1     10         7       NaN      3
2    1  1.0       0    1       1     1     10         7       NaN     10
3    1  1.0       0    1       1     1     10         7       NaN      5
4    1  1.0       0    1       1     1     10         7       NaN      7

   partner   pid  match  int_corr  samerace  age_o  race_o  pf_o_att  \
0        1  11.0      0      0.14         0   27.0     2.0      35.0
1        2  12.0      0      0.54         0   22.0     2.0      60.0
2        3  13.0      1      0.16         1   22.0     4.0      19.0
3        4  14.0      1      0.61         0   23.0     2.0      30.0
4        5  15.0      1      0.21         0   24.0     3.0      30.0

   pf_o_sin  pf_o_int  pf_o_fun  pf_o_amb  pf_o_sha  dec_o  attr_o  sinc_o  \
0      20.0      20.0      20.0       0.0       5.0      0     6.0     8.0
1       0.0       0.0      40.0       0.0       0.0      0     7.0     8.0
2      18.0      19.0      18.0      14.0      12.0      1    10.0    10.0
3       5.0      15.0      40.0       5.0       5.0      1     7.0     8.0
4      10.0      20.0      10.0      10.0      20.0      1     8.0     7.0

   intel_o  fun_o  amb_o  shar_o  like_o  prob_o  met_o   age field  field_cd  \
0      8.0    8.0    8.0     6.0     7.0     4.0    2.0  21.0   Law       1.0
1     10.0    7.0    7.0     5.0     8.0     4.0    2.0  21.0   Law       1.0
2     10.0   10.0   10.0    10.0    10.0    10.0    1.0  21.0   Law       1.0
3      9.0    8.0    9.0     8.0     7.0     7.0    2.0  21.0   Law       1.0
4      9.0    6.0    9.0     7.0     8.0     6.0    2.0  21.0   Law       1.0

  undergra mn_sat tuition  race  imprace  imprelig     from zipcode  \
0      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
1      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
2      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
3      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
4      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521

      income  goal  date  go_out  career  career_c  sports  tvsports  \
0  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
1  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
2  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
3  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
4  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0

   exercise  dining  museums  art  hiking  gaming  clubbing  reading   tv  \
0       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
1       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
2       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
3       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
4       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0

   theater  movies  concerts  music  shopping  yoga  exphappy  expnum  \
0      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
1      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
2      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
3      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
4      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0

   attr1_1  sinc1_1  intel1_1  fun1_1  amb1_1  shar1_1  attr4_1  sinc4_1  \
0     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
1     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
2     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
3     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
4     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN

   intel4_1  fun4_1  amb4_1  shar4_1  attr2_1  sinc2_1  intel2_1  fun2_1  \
0       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
1       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
2       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
3       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
4       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0

   amb2_1  shar2_1  attr3_1  sinc3_1  fun3_1  intel3_1  amb3_1  attr5_1  \
0     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
1     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
2     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
3     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
4     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN

   sinc5_1  intel5_1  fun5_1  amb5_1  dec  attr  sinc  intel  fun  amb  shar  \
0      NaN       NaN     NaN     NaN    1   6.0   9.0    7.0  7.0  6.0   5.0
1      NaN       NaN     NaN     NaN    1   7.0   8.0    7.0  8.0  5.0   6.0
2      NaN       NaN     NaN     NaN    1   5.0   8.0    9.0  8.0  5.0   7.0
3      NaN       NaN     NaN     NaN    1   7.0   6.0    8.0  7.0  6.0   8.0
4      NaN       NaN     NaN     NaN    1   5.0   6.0    7.0  7.0  6.0   6.0

   like  prob  met  match_es  attr1_s  sinc1_s  intel1_s  fun1_s  amb1_s  \
0   7.0   6.0  2.0       4.0      NaN      NaN       NaN     NaN     NaN
1   7.0   5.0  1.0       4.0      NaN      NaN       NaN     NaN     NaN
2   7.0   NaN  1.0       4.0      NaN      NaN       NaN     NaN     NaN
3   7.0   6.0  2.0       4.0      NaN      NaN       NaN     NaN     NaN
4   6.0   6.0  2.0       4.0      NaN      NaN       NaN     NaN     NaN

   shar1_s  attr3_s  sinc3_s  intel3_s  fun3_s  amb3_s  satis_2  length  \
0      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
1      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
2      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
3      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
4      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0

   numdat_2  attr7_2  sinc7_2  intel7_2  fun7_2  amb7_2  shar7_2  attr1_2  \
0       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
1       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
2       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
3       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
4       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44

   sinc1_2  intel1_2  fun1_2  amb1_2  shar1_2  attr4_2  sinc4_2  intel4_2  \
0    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
1    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
2    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
3    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
4    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN

   fun4_2  amb4_2  shar4_2  attr2_2  sinc2_2  intel2_2  fun2_2  amb2_2  \
0     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
1     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
2     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
3     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
4     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN

   shar2_2  attr3_2  sinc3_2  intel3_2  fun3_2  amb3_2  attr5_2  sinc5_2  \
0      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
1      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
2      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
3      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
4      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN

   intel5_2  fun5_2  amb5_2  you_call  them_cal  date_3  numdat_3  num_in_3  \
0       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
1       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
2       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
3       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
4       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN

   attr1_3  sinc1_3  intel1_3  fun1_3  amb1_3  shar1_3  attr7_3  sinc7_3  \
0     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
1     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
2     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
3     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
4     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN

   intel7_3  fun7_3  amb7_3  shar7_3  attr4_3  sinc4_3  intel4_3  fun4_3  \
0       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
1       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
2       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
3       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
4       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN

   amb4_3  shar4_3  attr2_3  sinc2_3  intel2_3  fun2_3  amb2_3  shar2_3  \
0     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
1     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
2     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
3     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
4     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN

   attr3_3  sinc3_3  intel3_3  fun3_3  amb3_3  attr5_3  sinc5_3  intel5_3  \
0      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
1      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
2      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
3      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
4      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN

   fun5_3  amb5_3
0     NaN     NaN
1     NaN     NaN
2     NaN     NaN
3     NaN     NaN
4     NaN     NaN

C:\Users\rayw5_000\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

               iid           id       gender          idg       condtn  \
count  8378.000000  8377.000000  8378.000000  8378.000000  8378.000000
mean    283.675937     8.960248     0.500597    17.327166     1.828837
std     158.583367     5.491329     0.500029    10.940735     0.376673
min       1.000000     1.000000     0.000000     1.000000     1.000000
25%     154.000000          NaN     0.000000     8.000000     2.000000
50%     281.000000          NaN     1.000000    16.000000     2.000000
75%     407.000000          NaN     1.000000    26.000000     2.000000
max     552.000000    22.000000     1.000000    44.000000     2.000000

              wave        round     position     positin1        order  \
count  8378.000000  8378.000000  8378.000000  6532.000000  8378.000000
mean     11.350919    16.872046     9.042731     9.295775     8.927668
std       5.995903     4.358458     5.514939     5.650199     5.477009
min       1.000000     5.000000     1.000000     1.000000     1.000000
25%       7.000000    14.000000     4.000000          NaN     4.000000
50%      11.000000    18.000000     8.000000          NaN     8.000000
75%      15.000000    20.000000    13.000000          NaN    13.000000
max      21.000000    22.000000    22.000000    22.000000    22.000000

           partner          pid        match     int_corr     samerace  \
count  8378.000000  8368.000000  8378.000000  8220.000000  8378.000000
mean      8.963595   283.863767     0.164717     0.196010     0.395799
std       5.491068   158.584899     0.370947     0.303539     0.489051
min       1.000000     1.000000     0.000000    -0.830000     0.000000
25%       4.000000          NaN     0.000000          NaN     0.000000
50%       8.000000          NaN     0.000000          NaN     0.000000
75%      13.000000          NaN     0.000000          NaN     1.000000
max      22.000000   552.000000     1.000000     0.910000     1.000000

             age_o       race_o     pf_o_att     pf_o_sin     pf_o_int  \
count  8274.000000  8305.000000  8289.000000  8289.000000  8289.000000
mean     26.364999     2.756653    22.495347    17.396867    20.270759
std       3.563648     1.230689    12.569802     7.044003     6.782895
min      18.000000     1.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      55.000000     6.000000   100.000000    60.000000    50.000000

          pf_o_fun     pf_o_amb     pf_o_sha        dec_o       attr_o  \
count  8280.000000  8271.000000  8249.000000  8378.000000  8166.000000
mean     17.459714    10.685375    11.845930     0.419551     6.190411
std       6.085526     6.126544     6.362746     0.493515     1.950305
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN     0.000000          NaN
50%            NaN          NaN          NaN     0.000000          NaN
75%            NaN          NaN          NaN     1.000000          NaN
max      50.000000    53.000000    30.000000     1.000000    10.500000

            sinc_o      intel_o        fun_o        amb_o       shar_o  \
count  8091.000000  8072.000000  8018.000000  7656.000000  7302.000000
mean      7.175256     7.369301     6.400599     6.778409     5.474870
std       1.740575     1.550501     1.954078     1.794080     2.156163
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    11.000000    10.000000    10.000000

            like_o       prob_o        met_o          age     field_cd  \
count  8128.000000  8060.000000  7993.000000  8283.000000  8296.000000
mean      6.134498     5.208251     1.960215    26.358928     7.662488
std       1.841258     2.129354     0.245925     3.566763     3.758935
min       0.000000     0.000000     1.000000    18.000000     1.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000     8.000000    55.000000    18.000000

              race      imprace     imprelig         goal         date  \
count  8315.000000  8299.000000  8299.000000  8299.000000  8281.000000
mean      2.757186     3.784793     3.651645     2.122063     5.006762
std       1.230905     2.845708     2.805237     1.407181     1.444531
min       1.000000     0.000000     1.000000     1.000000     1.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max       6.000000    10.000000    10.000000     6.000000     7.000000

            go_out     career_c       sports     tvsports     exercise  \
count  8299.000000  8240.000000  8299.000000  8299.000000  8299.000000
mean      2.158091     5.277791     6.425232     4.575491     6.245813
std       1.105246     3.309520     2.619024     2.801874     2.418858
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max       7.000000    17.000000    10.000000    10.000000    10.000000

            dining      museums          art       hiking       gaming  \
count  8299.000000  8299.000000  8299.000000  8299.000000  8299.000000
mean      7.783829     6.985781     6.714544     5.737077     3.881191
std       1.754868     2.052232     2.263407     2.570207     2.620507
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    10.000000    10.000000    14.000000

          clubbing      reading           tv      theater       movies  \
count  8299.000000  8299.000000  8299.000000  8299.000000  8299.000000
mean      5.745993     7.678515     5.304133     6.776118     7.919629
std       2.502218     2.006565     2.529135     2.235152     1.700927
min       0.000000     1.000000     1.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    13.000000    10.000000    10.000000    10.000000

          concerts        music     shopping         yoga     exphappy  \
count  8299.000000  8299.000000  8299.000000  8299.000000  8277.000000
mean      6.825401     7.851066     5.631281     4.339197     5.534131
std       2.156283     1.791827     2.608913     2.717612     1.734059
min       0.000000     1.000000     1.000000     0.000000     1.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    10.000000    10.000000    10.000000

            expnum      attr1_1      sinc1_1     intel1_1       fun1_1  \
count  1800.000000  8299.000000  8299.000000  8299.000000  8289.000000
mean      5.570556    22.514632    17.396389    20.265613    17.457043
std       4.762569    12.587674     7.046700     6.783003     6.085239
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      20.000000   100.000000    60.000000    50.000000    50.000000

            amb1_1      shar1_1      attr4_1      sinc4_1     intel4_1  \
count  8279.000000  8257.000000  6489.000000  6489.000000  6489.000000
mean     10.682539    11.845111    26.394360    11.071506    12.636308
std       6.124888     6.362154    16.297045     6.659233     6.717476
min       0.000000     0.000000     5.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      53.000000    30.000000    95.000000    35.000000    35.000000

            fun4_1       amb4_1      shar4_1      attr2_1      sinc2_1  \
count  6489.000000  6489.000000  6467.000000  8299.000000  8299.000000
mean     15.566805     9.780089    11.014845    30.362192    13.273691
std       7.328256     6.998428     6.060150    16.249937     6.976775
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      45.000000    50.000000    40.000000   100.000000    50.000000

          intel2_1       fun2_1       amb2_1      shar2_1      attr3_1  \
count  8299.000000  8299.000000  8289.000000  8289.000000  8273.000000
mean     14.416891    18.422620    11.744499    11.854817     7.084733
std       6.263304     6.577929     6.886532     6.167314     1.395783
min       0.000000     0.000000     0.000000     0.000000     2.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      40.000000    50.000000    50.000000    30.000000    10.000000

           sinc3_1       fun3_1     intel3_1       amb3_1      attr5_1  \
count  8273.000000  8273.000000  8273.000000  8273.000000  4906.000000
mean      8.294935     7.704460     8.403965     7.578388     6.941908
std       1.407460     1.564321     1.076608     1.778315     1.498653
min       2.000000     2.000000     3.000000     2.000000     2.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    10.000000    10.000000    10.000000

           sinc5_1     intel5_1       fun5_1       amb5_1          dec  \
count  4906.000000  4906.000000  4906.000000  4906.000000  8378.000000
mean      7.927232     8.284346     7.426213     7.617611     0.419909
std       1.627054     1.283657     1.779129     1.773094     0.493573
min       1.000000     3.000000     2.000000     1.000000     0.000000
25%            NaN          NaN          NaN          NaN     0.000000
50%            NaN          NaN          NaN          NaN     0.000000
75%            NaN          NaN          NaN          NaN     1.000000
max      10.000000    10.000000    10.000000    10.000000     1.000000

              attr         sinc        intel          fun          amb  \
count  8176.000000  8101.000000  8082.000000  8028.000000  7666.000000
mean      6.189995     7.175164     7.368597     6.400598     6.777524
std       1.950169     1.740315     1.550453     1.953702     1.794055
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    10.000000    10.000000    10.000000

              shar         like         prob          met     match_es  \
count  7311.000000  8138.000000  8069.000000  8003.000000  7205.000000
mean      5.474559     6.134087     5.207523     0.948769     3.207814
std       2.156363     1.841285     2.129565     0.989889     2.444813
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    10.000000     8.000000    18.000000

           attr1_s      sinc1_s     intel1_s       fun1_s       amb1_s  \
count  4096.000000  4096.000000  4096.000000  4096.000000  4096.000000
mean     20.791624    15.434255    17.243708    15.260869    11.144619
std      12.968524     6.915322     6.596420     5.356969     5.514028
min       3.000000     0.000000     0.000000     1.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      95.000000    50.000000    40.000000    40.000000    23.810000

           shar1_s     attr3_s      sinc3_s     intel3_s       fun3_s  \
count  4096.000000  4000.00000  4000.000000  4000.000000  4000.000000
mean     12.457925     7.21125     8.082000     8.257750     7.692500
std       5.921789     1.41545     1.455741     1.179317     1.626839
min       0.000000     3.00000     1.000000     4.000000     3.000000
25%            NaN         NaN          NaN          NaN          NaN
50%            NaN         NaN          NaN          NaN          NaN
75%            NaN         NaN          NaN          NaN          NaN
max      30.000000    10.00000    10.000000    10.000000    10.000000

            amb3_s      satis_2       length     numdat_2      attr7_2  \
count  4000.000000  7463.000000  7463.000000  7433.000000  1984.000000
mean      7.589250     5.711510     1.843495     2.338087    32.819556
std       1.793136     1.820764     0.975662     0.631240    17.155270
min       2.000000     1.000000     1.000000     1.000000    10.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000     3.000000     3.000000    80.000000

           sinc7_2     intel7_2       fun7_2       amb7_2      shar7_2  \
count  1955.000000  1984.000000  1984.000000  1955.000000  1974.000000
mean     13.529923    15.293851    18.868448     7.286957    12.156028
std       7.977482     7.292868     8.535963     6.125187     8.241906
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      40.000000    50.000000    50.000000    20.000000    40.000000

           attr1_2      sinc1_2     intel1_2       fun1_2       amb1_2  \
count  7445.000000  7463.000000  7463.000000  7463.000000  7463.000000
mean     26.217194    15.865084    17.813755    17.654765     9.913436
std      14.388694     6.658494     6.535894     6.129746     5.675550
min       5.000000     0.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      85.000000    50.000000    40.000000    50.000000    22.220000

           shar1_2      attr4_2      sinc4_2     intel4_2       fun4_2  \
count  7463.000000  5775.000000  5775.000000  5775.000000  5775.000000
mean     12.760263    26.806234    11.929177    12.103030    15.163810
std       6.651547    16.402836     6.401556     5.990607     7.290107
min       0.000000     6.000000     0.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      35.000000   100.000000    35.000000    40.000000    50.000000

            amb4_2      shar4_2      attr2_2     sinc2_2     intel2_2  \
count  5775.000000  5775.000000  5775.000000  5775.00000  5775.000000
mean      9.342511    11.320866    29.344369    13.89823    13.958265
std       5.856329     6.296155    14.551171     6.17169     5.398621
min       0.000000     0.000000     0.000000     0.00000     0.000000
25%            NaN          NaN          NaN         NaN          NaN
50%            NaN          NaN          NaN         NaN          NaN
75%            NaN          NaN          NaN         NaN          NaN
max      35.000000    40.000000    85.000000    40.00000    30.770000

            fun2_2       amb2_2      shar2_2      attr3_2      sinc3_2  \
count  5775.000000  5775.000000  5775.000000  7463.000000  7463.000000
mean     17.967233    11.909735    12.887976     7.125285     7.931529
std       6.100307     6.313281     5.615691     1.371390     1.503236
min       0.000000     0.000000     0.000000     2.000000     2.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      40.000000    50.000000    30.000000    10.000000    10.000000

          intel3_2       fun3_2       amb3_2      attr5_2      sinc5_2  \
count  7463.000000  7463.000000  7463.000000  4377.000000  4377.000000
mean      8.238912     7.602171     7.486802     6.827964     7.394106
std       1.180280     1.548200     1.744634     1.411096     1.588145
min       4.000000     1.000000     2.000000     2.000000     2.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    10.000000    10.000000    10.000000

          intel5_2       fun5_2       amb5_2     you_call     them_cal  \
count  4377.000000  4377.000000  4377.000000  3974.000000  3974.000000
mean      7.838702     7.279415     7.332191     0.780825     0.981631
std       1.280936     1.647478     1.521854     1.611694     1.382139
min       2.000000     2.000000     2.000000     0.000000     0.000000
25%            NaN          NaN          NaN          NaN          NaN
50%            NaN          NaN          NaN          NaN          NaN
75%            NaN          NaN          NaN          NaN          NaN
max      10.000000    10.000000    10.000000    21.000000     9.000000

            date_3     numdat_3    num_in_3      attr1_3      sinc1_3  \
count  3974.000000  1496.000000  668.000000  3974.000000  3974.000000
mean      0.376950     1.230615    0.934132    24.384524    16.588583
std       0.484683     1.294557    0.753902    13.712120     7.471537
min       0.000000     0.000000    0.000000     0.000000     0.000000
25%            NaN          NaN         NaN          NaN          NaN
50%            NaN          NaN         NaN          NaN          NaN
75%            NaN          NaN         NaN          NaN          NaN
max       1.000000     9.000000    4.000000    80.000000    65.000000

          intel1_3       fun1_3       amb1_3      shar1_3      attr7_3  \

##### Females: which features are most significant ?

In [3]:
import statsmodels.api as sm
from sklearn.feature_selection import RFE
from sklearn.svm import SVC

input_vars = ['attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like', 'prob']

# female model
f = df.loc[df.gender == 0, :]
f_data = f.copy()
f_data = f.dropna(subset=input_vars)
f_model = sm.OLS(f_data.dec, sm.add_constant(f_data.loc[:, input_vars]))
f_results = f_model.fit()
print(f_results.params, "\n")
print("P-values (Women) :\n" , f_results.pvalues, "\n" ) 
# all p-values are less than 0.05 which means all of features are significant in the model.

# Now let's rank the features based on their importance in the model using RFE method, for women.
estimator = SVC(kernel= "linear", C=0.1)
selector = RFE(estimator,1)
cfl=selector.fit(f_data.loc[:, input_vars], f_data.dec)
ranking_f=cfl.ranking_
feature_ranking_f=zip(ranking_f, input_vars)
print("Ranked Feature Importance (Women):\n")
list(feature_ranking_f)

(const   -0.395832
attr     0.049571
sinc    -0.024828
intel    0.010104
fun      0.020365
amb     -0.020752
shar     0.023560
like     0.061468
prob     0.018177
dtype: float64, '\n')
('P-values (Women) :\n', const    3.024043e-28
attr     3.585211e-24
sinc     4.757680e-06
intel    1.412131e-01
fun      1.578416e-04
amb      5.948697e-05
shar     4.867489e-07
like     5.096468e-21
prob     1.299559e-06
dtype: float64, '\n')
Ranked Feature Importance (Women):

[(2, 'attr'),
 (6, 'sinc'),
 (8, 'intel'),
 (3, 'fun'),
 (4, 'amb'),
 (5, 'shar'),
 (1, 'like'),
 (7, 'prob')]

##### Males: which features are most significant ?

In [4]:
# female model
f = df.loc[df.gender == 1, :]
f_data = f.copy()
f_data = f.dropna(subset=input_vars)
f_model = sm.OLS(f_data.dec, sm.add_constant(f_data.loc[:, input_vars]))
f_results = f_model.fit()
print(f_results.params, "\n")
print("P-values (Men) :\n" , f_results.pvalues, "\n" ) 
# all p-values are less than 0.05 which means all of features are significant in the model.

# Now let's rank the features based on their importance in the model using RFE method, for women.
estimator = SVC(kernel= "linear", C=0.1)
selector = RFE(estimator,1)
cfl=selector.fit(f_data.loc[:, input_vars], f_data.dec)
ranking_f=cfl.ranking_
feature_ranking_f=zip(ranking_f, input_vars)
print("Ranked Feature Importance (Men):\n")
list(feature_ranking_f)

(const   -0.430886
attr     0.081242
sinc    -0.038042
intel   -0.009979
fun      0.018040
amb     -0.021523
shar     0.011099
like     0.091558
prob     0.025312
dtype: float64, '\n')
('P-values (Men) :\n', const    4.115154e-31
attr     1.052945e-56
sinc     6.215313e-11
intel    1.436562e-01
fun      1.034067e-03
amb      3.929744e-05
shar     1.463562e-02
like     2.415622e-43
prob     6.211989e-11
dtype: float64, '\n')
Ranked Feature Importance (Men):

[(2, 'attr'),
 (3, 'sinc'),
 (8, 'intel'),
 (5, 'fun'),
 (6, 'amb'),
 (7, 'shar'),
 (1, 'like'),
 (4, 'prob')]

Good Script:
https://www.kaggle.com/piecurus/d/annavictoria/speed-dating-experiment/a-gender-perspective-of-participants

In [5]:
"""
Standardizes preference scores to correct collection variations introduced by experiment
From data description : 
Waves 1-5 and 10-21: You have 100 points to distribute among the following attributes -- 
give more points to those attributes that are more important in a potential date, 
and fewer points to those attributes that are less important in a potential date.  Total points must equal 100.
Waves 6-9: Please rate the importance of the following attributes in a potential 
date on a scale of 1-10 (1=not at all important, 10=extremely important): 
"""
def standardize_pref_ratings(df):    
    print(df.head())
    
    # TODO: gather list of all preference cols
    # pref attributes : pf_o_att, attr_o
    pref_attr = df.filter( regex='attr|sinc|intel|fun|amb|shar' ).columns.tolist() 
    
    # locate rows that have been scaled 1-10 (waves 6 - 10)
    off = df.loc[ df['wave'].isin( range(6,10 ) ) ]
    print(off.head())
    
    for index, row in off.iterrows():
        row_attr_tot_points = np.sum( [row[pref] for pref in pref_attr ] )
        #print(row_attr_tot_points)
        for pref in pref_attr:
            # scale cell value to relative percentage considering provided preference scores, mult by 100 
            df.loc[index, pref] = ( row[pref] / row_attr_tot_points ) * 100        
    return df

# =========================================================
# Below used as test dataframe for development of above
# =========================================================

d =  {'wave' : pd.Series([ 1, 8, 6, 7 ]) ,
    'attr1_2': pd.Series([25, 2, 1, 5 ]) ,
    'attr4_3': pd.Series([25, 2, 1, 10 ]) ,
    'fun8675309': pd.Series([50, 2, 1, 0 ] )
}

df = pd.DataFrame(d)
df = standardize_pref_ratings(df)

   attr1_2  attr4_3  fun8675309  wave
0       25       25          50     1
1        2        2           2     8
2        1        1           1     6
3        5       10           0     7
   attr1_2  attr4_3  fun8675309  wave
1        2        2           2     8
2        1        1           1     6
3        5       10           0     7

In [6]:
df = pd.read_csv('data/speed_dating.csv', encoding="ISO-8859-1")
df = df.dropna(axis=1,how="all")
df=standardize_pref_ratings(df)

   iid   id  gender  idg  condtn  wave  round  position  positin1  order  \
0    1  1.0       0    1       1     1     10         7       NaN      4
1    1  1.0       0    1       1     1     10         7       NaN      3
2    1  1.0       0    1       1     1     10         7       NaN     10
3    1  1.0       0    1       1     1     10         7       NaN      5
4    1  1.0       0    1       1     1     10         7       NaN      7

   partner   pid  match  int_corr  samerace  age_o  race_o  pf_o_att  \
0        1  11.0      0      0.14         0   27.0     2.0      35.0
1        2  12.0      0      0.54         0   22.0     2.0      60.0
2        3  13.0      1      0.16         1   22.0     4.0      19.0
3        4  14.0      1      0.61         0   23.0     2.0      30.0
4        5  15.0      1      0.21         0   24.0     3.0      30.0

   pf_o_sin  pf_o_int  pf_o_fun  pf_o_amb  pf_o_sha  dec_o  attr_o  sinc_o  \
0      20.0      20.0      20.0       0.0       5.0      0     6.0     8.0
1       0.0       0.0      40.0       0.0       0.0      0     7.0     8.0
2      18.0      19.0      18.0      14.0      12.0      1    10.0    10.0
3       5.0      15.0      40.0       5.0       5.0      1     7.0     8.0
4      10.0      20.0      10.0      10.0      20.0      1     8.0     7.0

   intel_o  fun_o  amb_o  shar_o  like_o  prob_o  met_o   age field  field_cd  \
0      8.0    8.0    8.0     6.0     7.0     4.0    2.0  21.0   Law       1.0
1     10.0    7.0    7.0     5.0     8.0     4.0    2.0  21.0   Law       1.0
2     10.0   10.0   10.0    10.0    10.0    10.0    1.0  21.0   Law       1.0
3      9.0    8.0    9.0     8.0     7.0     7.0    2.0  21.0   Law       1.0
4      9.0    6.0    9.0     7.0     8.0     6.0    2.0  21.0   Law       1.0

  undergra mn_sat tuition  race  imprace  imprelig     from zipcode  \
0      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
1      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
2      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
3      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521
4      NaN    NaN     NaN   4.0      2.0       4.0  Chicago  60,521

      income  goal  date  go_out  career  career_c  sports  tvsports  \
0  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
1  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
2  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
3  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0
4  69,487.00   2.0   7.0     1.0  lawyer       NaN     9.0       2.0

   exercise  dining  museums  art  hiking  gaming  clubbing  reading   tv  \
0       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
1       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
2       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
3       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0
4       8.0     9.0      1.0  1.0     5.0     1.0       5.0      6.0  9.0

   theater  movies  concerts  music  shopping  yoga  exphappy  expnum  \
0      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
1      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
2      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
3      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0
4      1.0    10.0      10.0    9.0       8.0   1.0       3.0     2.0

   attr1_1  sinc1_1  intel1_1  fun1_1  amb1_1  shar1_1  attr4_1  sinc4_1  \
0     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
1     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
2     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
3     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
4     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN

   intel4_1  fun4_1  amb4_1  shar4_1  attr2_1  sinc2_1  intel2_1  fun2_1  \
0       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
1       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
2       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
3       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0
4       NaN     NaN     NaN      NaN     35.0     20.0      15.0    20.0

   amb2_1  shar2_1  attr3_1  sinc3_1  fun3_1  intel3_1  amb3_1  attr5_1  \
0     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
1     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
2     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
3     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN
4     5.0      5.0      6.0      8.0     8.0       8.0     7.0      NaN

   sinc5_1  intel5_1  fun5_1  amb5_1  dec  attr  sinc  intel  fun  amb  shar  \
0      NaN       NaN     NaN     NaN    1   6.0   9.0    7.0  7.0  6.0   5.0
1      NaN       NaN     NaN     NaN    1   7.0   8.0    7.0  8.0  5.0   6.0
2      NaN       NaN     NaN     NaN    1   5.0   8.0    9.0  8.0  5.0   7.0
3      NaN       NaN     NaN     NaN    1   7.0   6.0    8.0  7.0  6.0   8.0
4      NaN       NaN     NaN     NaN    1   5.0   6.0    7.0  7.0  6.0   6.0

   like  prob  met  match_es  attr1_s  sinc1_s  intel1_s  fun1_s  amb1_s  \
0   7.0   6.0  2.0       4.0      NaN      NaN       NaN     NaN     NaN
1   7.0   5.0  1.0       4.0      NaN      NaN       NaN     NaN     NaN
2   7.0   NaN  1.0       4.0      NaN      NaN       NaN     NaN     NaN
3   7.0   6.0  2.0       4.0      NaN      NaN       NaN     NaN     NaN
4   6.0   6.0  2.0       4.0      NaN      NaN       NaN     NaN     NaN

   shar1_s  attr3_s  sinc3_s  intel3_s  fun3_s  amb3_s  satis_2  length  \
0      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
1      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
2      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
3      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0
4      NaN      NaN      NaN       NaN     NaN     NaN      6.0     2.0

   numdat_2  attr7_2  sinc7_2  intel7_2  fun7_2  amb7_2  shar7_2  attr1_2  \
0       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
1       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
2       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
3       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44
4       1.0      NaN      NaN       NaN     NaN     NaN      NaN    19.44

   sinc1_2  intel1_2  fun1_2  amb1_2  shar1_2  attr4_2  sinc4_2  intel4_2  \
0    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
1    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
2    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
3    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN
4    16.67     13.89   22.22   11.11    16.67      NaN      NaN       NaN

   fun4_2  amb4_2  shar4_2  attr2_2  sinc2_2  intel2_2  fun2_2  amb2_2  \
0     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
1     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
2     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
3     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
4     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN

   shar2_2  attr3_2  sinc3_2  intel3_2  fun3_2  amb3_2  attr5_2  sinc5_2  \
0      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
1      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
2      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
3      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN
4      NaN      6.0      7.0       8.0     7.0     6.0      NaN      NaN

   intel5_2  fun5_2  amb5_2  you_call  them_cal  date_3  numdat_3  num_in_3  \
0       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
1       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
2       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
3       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN
4       NaN     NaN     NaN       1.0       1.0     0.0       NaN       NaN

   attr1_3  sinc1_3  intel1_3  fun1_3  amb1_3  shar1_3  attr7_3  sinc7_3  \
0     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
1     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
2     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
3     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN
4     15.0     20.0      20.0    15.0    15.0     15.0      NaN      NaN

   intel7_3  fun7_3  amb7_3  shar7_3  attr4_3  sinc4_3  intel4_3  fun4_3  \
0       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
1       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
2       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
3       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN
4       NaN     NaN     NaN      NaN      NaN      NaN       NaN     NaN

   amb4_3  shar4_3  attr2_3  sinc2_3  intel2_3  fun2_3  amb2_3  shar2_3  \
0     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
1     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
2     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
3     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN
4     NaN      NaN      NaN      NaN       NaN     NaN     NaN      NaN

   attr3_3  sinc3_3  intel3_3  fun3_3  amb3_3  attr5_3  sinc5_3  intel5_3  \
0      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
1      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
2      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
3      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN
4      5.0      7.0       7.0     7.0     7.0      NaN      NaN       NaN

   fun5_3  amb5_3
0     NaN     NaN
1     NaN     NaN
2     NaN     NaN
3     NaN     NaN
4     NaN     NaN
      iid   id  gender  idg  condtn  wave  round  position  positin1  order  \
1846  132  1.0       0    1       1     6      5         2       2.0      5
1847  132  1.0       0    1       1     6      5         2       2.0      2
1848  132  1.0       0    1       1     6      5         2       2.0      3
1849  132  1.0       0    1       1     6      5         2       2.0      4
1850  132  1.0       0    1       1     6      5         2       2.0      1

      partner    pid  match  int_corr  samerace  age_o  race_o  pf_o_att  \
1846        1  137.0      0      0.16         0   26.0     4.0     17.39
1847        2  138.0      0      0.34         1   32.0     2.0     20.00
1848        4  139.0      0      0.52         0   37.0     4.0     18.75
1849        6  140.0      1      0.13         1   29.0     2.0     18.60
1850       10  141.0      0      0.05         0   28.0     3.0     20.83

      pf_o_sin  pf_o_int  pf_o_fun  pf_o_amb  pf_o_sha  dec_o  attr_o  sinc_o  \
1846     17.39     15.22     17.39     13.04     19.57      1     8.0     8.0
1847     20.00     20.00     20.00      6.67     13.33      1     8.0     7.0
1848     16.67     18.75     20.83     12.50     12.50      1     8.0     NaN
1849     16.28     18.60     18.60     11.63     16.28      1     7.0     7.0
1850     20.83     16.67     16.67      6.25     18.75      1     8.0     7.0

      intel_o  fun_o  amb_o  shar_o  like_o  prob_o  met_o   age    field  \
1846      9.0    8.0    9.0     7.0     7.0     6.0    1.0  27.0  Finance
1847      4.0    6.0    6.0     4.0     8.0     6.0    2.0  27.0  Finance
1848      8.0    8.0    7.0     NaN     8.0     6.0    2.0  27.0  Finance
1849      7.0    7.0    7.0     7.0     7.0     7.0    1.0  27.0  Finance
1850      7.0    7.0    7.0     8.0     7.0     7.0    1.0  27.0  Finance

      field_cd undergra mn_sat tuition  race  imprace  imprelig         from  \
1846       8.0      NaN    NaN     NaN   2.0     10.0       1.0  Los Angeles
1847       8.0      NaN    NaN     NaN   2.0     10.0       1.0  Los Angeles
1848       8.0      NaN    NaN     NaN   2.0     10.0       1.0  Los Angeles
1849       8.0      NaN    NaN     NaN   2.0     10.0       1.0  Los Angeles
1850       8.0      NaN    NaN     NaN   2.0     10.0       1.0  Los Angeles

     zipcode     income  goal  date  go_out            career  career_c  \
1846  96,822  40,375.00   1.0   7.0     2.0  Asset Management       7.0
1847  96,822  40,375.00   1.0   7.0     2.0  Asset Management       7.0
1848  96,822  40,375.00   1.0   7.0     2.0  Asset Management       7.0
1849  96,822  40,375.00   1.0   7.0     2.0  Asset Management       7.0
1850  96,822  40,375.00   1.0   7.0     2.0  Asset Management       7.0

      sports  tvsports  exercise  dining  museums  art  hiking  gaming  \
1846     7.0       2.0      10.0     5.0      7.0  7.0     9.0     1.0
1847     7.0       2.0      10.0     5.0      7.0  7.0     9.0     1.0
1848     7.0       2.0      10.0     5.0      7.0  7.0     9.0     1.0
1849     7.0       2.0      10.0     5.0      7.0  7.0     9.0     1.0
1850     7.0       2.0      10.0     5.0      7.0  7.0     9.0     1.0

      clubbing  reading   tv  theater  movies  concerts  music  shopping  \
1846       1.0      5.0  9.0      5.0    10.0       3.0   10.0       1.0
1847       1.0      5.0  9.0      5.0    10.0       3.0   10.0       1.0
1848       1.0      5.0  9.0      5.0    10.0       3.0   10.0       1.0
1849       1.0      5.0  9.0      5.0    10.0       3.0   10.0       1.0
1850       1.0      5.0  9.0      5.0    10.0       3.0   10.0       1.0

      yoga  exphappy  expnum  attr1_1  sinc1_1  intel1_1  fun1_1  amb1_1  \
1846  10.0       5.0     NaN    16.67    16.67     16.67   16.67   16.67
1847  10.0       5.0     NaN    16.67    16.67     16.67   16.67   16.67
1848  10.0       5.0     NaN    16.67    16.67     16.67   16.67   16.67
1849  10.0       5.0     NaN    16.67    16.67     16.67   16.67   16.67
1850  10.0       5.0     NaN    16.67    16.67     16.67   16.67   16.67

      shar1_1  attr4_1  sinc4_1  intel4_1  fun4_1  amb4_1  shar4_1  attr2_1  \
1846    16.67     10.0      7.0       7.0     7.0     5.0      7.0    22.73
1847    16.67     10.0      7.0       7.0     7.0     5.0      7.0    22.73
1848    16.67     10.0      7.0       7.0     7.0     5.0      7.0    22.73
1849    16.67     10.0      7.0       7.0     7.0     5.0      7.0    22.73
1850    16.67     10.0      7.0       7.0     7.0     5.0      7.0    22.73

      sinc2_1  intel2_1  fun2_1  amb2_1  shar2_1  attr3_1  sinc3_1  fun3_1  \
1846    15.91     13.64   15.91   13.64    18.18      8.0     10.0    10.0
1847    15.91     13.64   15.91   13.64    18.18      8.0     10.0    10.0
1848    15.91     13.64   15.91   13.64    18.18      8.0     10.0    10.0
1849    15.91     13.64   15.91   13.64    18.18      8.0     10.0    10.0
1850    15.91     13.64   15.91   13.64    18.18      8.0     10.0    10.0

      intel3_1  amb3_1  attr5_1  sinc5_1  intel5_1  fun5_1  amb5_1  dec  attr  \
1846       9.0    10.0      NaN      NaN       NaN     NaN     NaN    0   7.0
1847       9.0    10.0      NaN      NaN       NaN     NaN     NaN    0   8.0
1848       9.0    10.0      NaN      NaN       NaN     NaN     NaN    0   5.0
1849       9.0    10.0      NaN      NaN       NaN     NaN     NaN    1   8.0
1850       9.0    10.0      NaN      NaN       NaN     NaN     NaN    0   5.0

      sinc  intel  fun  amb  shar  like  prob  met  match_es  attr1_s  \
1846   9.0    7.0  9.0  6.0   9.0   8.0   7.0  1.0       0.0    16.67
1847   8.0    8.0  8.0  8.0   8.0   8.0   5.0  2.0       0.0    16.67
1848   7.0    9.0  5.0  9.0   5.0   5.0   5.0  2.0       0.0    16.67
1849   9.0    9.0  9.0  9.0   8.0   9.0   7.0  1.0       0.0    16.67
1850   8.0    8.0  8.0  7.0   7.0   7.0   7.0  1.0       0.0    16.67

      sinc1_s  intel1_s  fun1_s  amb1_s  shar1_s  attr3_s  sinc3_s  intel3_s  \
1846    16.67     16.67   16.67   16.67    16.67      8.0      9.0       8.0
1847    16.67     16.67   16.67   16.67    16.67      8.0      9.0       8.0
1848    16.67     16.67   16.67   16.67    16.67      8.0      9.0       8.0
1849    16.67     16.67   16.67   16.67    16.67      8.0      9.0       8.0
1850    16.67     16.67   16.67   16.67    16.67      8.0      9.0       8.0

      fun3_s  amb3_s  satis_2  length  numdat_2  attr7_2  sinc7_2  intel7_2  \
1846    10.0    10.0      7.0     1.0       1.0      NaN      NaN       NaN
1847    10.0    10.0      7.0     1.0       1.0      NaN      NaN       NaN
1848    10.0    10.0      7.0     1.0       1.0      NaN      NaN       NaN
1849    10.0    10.0      7.0     1.0       1.0      NaN      NaN       NaN
1850    10.0    10.0      7.0     1.0       1.0      NaN      NaN       NaN

      fun7_2  amb7_2  shar7_2  attr1_2  sinc1_2  intel1_2  fun1_2  amb1_2  \
1846     NaN     NaN      NaN    15.79    17.54     15.79   17.54   17.54
1847     NaN     NaN      NaN    15.79    17.54     15.79   17.54   17.54
1848     NaN     NaN      NaN    15.79    17.54     15.79   17.54   17.54
1849     NaN     NaN      NaN    15.79    17.54     15.79   17.54   17.54
1850     NaN     NaN      NaN    15.79    17.54     15.79   17.54   17.54

      shar1_2  attr4_2  sinc4_2  intel4_2  fun4_2  amb4_2  shar4_2  attr2_2  \
1846    15.79      8.0     10.0      10.0     7.0     9.0      7.0    18.87
1847    15.79      8.0     10.0      10.0     7.0     9.0      7.0    18.87
1848    15.79      8.0     10.0      10.0     7.0     9.0      7.0    18.87
1849    15.79      8.0     10.0      10.0     7.0     9.0      7.0    18.87
1850    15.79      8.0     10.0      10.0     7.0     9.0      7.0    18.87

      sinc2_2  intel2_2  fun2_2  amb2_2  shar2_2  attr3_2  sinc3_2  intel3_2  \
1846    15.09     13.21   18.87   15.09    18.87      9.0     10.0       8.0
1847    15.09     13.21   18.87   15.09    18.87      9.0     10.0       8.0
1848    15.09     13.21   18.87   15.09    18.87      9.0     10.0       8.0
1849    15.09     13.21   18.87   15.09    18.87      9.0     10.0       8.0
1850    15.09     13.21   18.87   15.09    18.87      9.0     10.0       8.0

      fun3_2  amb3_2  attr5_2  sinc5_2  intel5_2  fun5_2  amb5_2  you_call  \
1846    10.0    10.0      NaN      NaN       NaN     NaN     NaN       NaN
1847    10.0    10.0      NaN      NaN       NaN     NaN     NaN       NaN
1848    10.0    10.0      NaN      NaN       NaN     NaN     NaN       NaN
1849    10.0    10.0      NaN      NaN       NaN     NaN     NaN       NaN
1850    10.0    10.0      NaN      NaN       NaN     NaN     NaN       NaN

      them_cal  date_3  numdat_3  num_in_3  attr1_3  sinc1_3  intel1_3  \
1846       NaN     NaN       NaN       NaN      NaN      NaN       NaN
1847       NaN     NaN       NaN       NaN      NaN      NaN       NaN
1848       NaN     NaN       NaN       NaN      NaN      NaN       NaN
1849       NaN     NaN       NaN       NaN      NaN      NaN       NaN
1850       NaN     NaN       NaN       NaN      NaN      NaN       NaN

      fun1_3  amb1_3  shar1_3  attr7_3  sinc7_3  intel7_3  fun7_3  amb7_3  \
1846     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
1847     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
1848     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
1849     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN
1850     NaN     NaN      NaN      NaN      NaN       NaN     NaN     NaN

      shar7_3  attr4_3  sinc4_3  intel4_3  fun4_3  amb4_3  shar4_3  attr2_3  \
1846      NaN      NaN      NaN       NaN     NaN     NaN      NaN      NaN
1847      NaN      NaN      NaN       NaN     NaN     NaN      NaN      NaN

In [7]:
lookup = pd.DataFrame(index=range(1,553), columns=df.columns.values)

In [8]:
for x in range(1,553):
    lookup.loc[x]['gender']=np.average(df.loc[df["iid"]==x]["gender"])
    lookup.loc[x]['match']=np.average(df.loc[df["iid"]==x]["match"])
    lookup.loc[x]['age']=np.average(df.loc[df["iid"]==x]["age"])
    lookup.loc[x]['career_c']=np.average(df.loc[df["iid"]==x]["career_c"])
    lookup.loc[x]['field_cd']=np.average(df.loc[df["iid"]==x]["field_cd"])
    #lookup.loc[x]['income']=np.average(df.loc[df["iid"]==x]["income"])
    lookup.loc[x]['imprace']=np.average(df.loc[df["iid"]==x]["imprace"])
    lookup.loc[x]['imprelig']=np.average(df.loc[df["iid"]==x]["imprelig"])
    lookup.loc[x]['goal']=np.average(df.loc[df["iid"]==x]["goal"])
    lookup.loc[x]['date']=np.average(df.loc[df["iid"]==x]["date"])
    lookup.loc[x]['go_out']=np.average(df.loc[df["iid"]==x]["go_out"])
    lookup.loc[x]['date']=np.average(df.loc[df["iid"]==x]["date"])
    lookup.loc[x]['sports']=np.average(df.loc[df["iid"]==x]["sports"])
    lookup.loc[x]['tvsports']=np.average(df.loc[df["iid"]==x]["tvsports"])
    lookup.loc[x]['exercise']=np.average(df.loc[df["iid"]==x]["exercise"])
    lookup.loc[x]['museums']=np.average(df.loc[df["iid"]==x]["museums"])
    lookup.loc[x]['dining']=np.average(df.loc[df["iid"]==x]["dining"])
    lookup.loc[x]['art']=np.average(df.loc[df["iid"]==x]["art"])
    lookup.loc[x]['hiking']=np.average(df.loc[df["iid"]==x]["hiking"])
    lookup.loc[x]['gaming']=np.average(df.loc[df["iid"]==x]["gaming"])
    lookup.loc[x]['clubbing']=np.average(df.loc[df["iid"]==x]["clubbing"])
    lookup.loc[x]['reading']=np.average(df.loc[df["iid"]==x]["reading"])
    lookup.loc[x]['tv']=np.average(df.loc[df["iid"]==x]["tv"])
    lookup.loc[x]['theater']=np.average(df.loc[df["iid"]==x]["theater"])
    lookup.loc[x]['movies']=np.average(df.loc[df["iid"]==x]["movies"])
    lookup.loc[x]['concerts']=np.average(df.loc[df["iid"]==x]["concerts"])
    lookup.loc[x]['music']=np.average(df.loc[df["iid"]==x]["music"])
    lookup.loc[x]['shopping']=np.average(df.loc[df["iid"]==x]["shopping"])
    lookup.loc[x]['yoga']=np.average(df.loc[df["iid"]==x]["yoga"])
    lookup.loc[x]['attr3_1']=np.average(df.loc[df["iid"]==x]["attr3_1"])
    lookup.loc[x]['sinc3_1']=np.average(df.loc[df["iid"]==x]["sinc3_1"])
    lookup.loc[x]['intel3_1']=np.average(df.loc[df["iid"]==x]["intel3_1"])
    lookup.loc[x]['fun3_1']=np.average(df.loc[df["iid"]==x]["fun3_1"])
    lookup.loc[x]['amb3_1']=np.average(df.loc[df["iid"]==x]["amb3_1"])
    lookup.loc[x]['attr5_1']=np.average(df.loc[df["iid"]==x]["attr5_1"])
    lookup.loc[x]['sinc5_1']=np.average(df.loc[df["iid"]==x]["sinc5_1"])
    lookup.loc[x]['intel5_1']=np.average(df.loc[df["iid"]==x]["intel5_1"])
    lookup.loc[x]['fun5_1']=np.average(df.loc[df["iid"]==x]["fun5_1"])
    lookup.loc[x]['attr_o']=np.nanmean(df.loc[df["iid"]==x]["attr_o"])
    lookup.loc[x]['sinc_o']=np.nanmean(df.loc[df["iid"]==x]["sinc_o"])
    lookup.loc[x]['intel_o']=np.nanmean(df.loc[df["iid"]==x]["intel_o"])
    lookup.loc[x]['fun_o']=np.nanmean(df.loc[df["iid"]==x]["fun_o"])
    lookup.loc[x]['amb_o']=np.nanmean(df.loc[df["iid"]==x]["amb_o"])
    lookup.loc[x]['shar_o']=np.nanmean(df.loc[df["iid"]==x]["shar_o"])

C:\Users\rayw5_000\Anaconda2\lib\site-packages\numpy\core\_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)
C:\Users\rayw5_000\Anaconda2\lib\site-packages\numpy\lib\nanfunctions.py:675: RuntimeWarning: Mean of empty slice
  warnings.warn("Mean of empty slice", RuntimeWarning)

In [9]:
lookup=lookup.dropna(axis=1,how="all")
lookup=lookup.fillna(lookup.mean())

In [10]:
lookup.describe()

,gender,match,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,age,field_cd,imprace,imprelig,goal,date,go_out,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1
count,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.00000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,0.502722,0.168928,6.178344,7.194422,7.370777,6.404610,6.782620,5.441745,26.359116,7.549632,3.733456,3.582721,2.148897,4.983425,2.143382,5.250464,6.395221,4.549632,6.286765,7.775735,6.972426,6.689338,5.757353,3.840074,5.751838,7.647059,5.325368,6.761029,7.898897,6.843750,7.87500,5.604779,4.415441,7.011338,8.249433,7.675737,8.324263,7.523810,6.929936,7.933121,8.257962,7.385350
std,0.499993,0.149595,1.076533,0.638041,0.564324,0.925323,0.704425,0.876866,3.736068,3.745211,2.821473,2.764264,1.437721,1.456477,1.096783,3.273162,2.611585,2.780754,2.432115,1.765077,2.044241,2.256870,2.547541,2.591724,2.467759,1.988276,2.520842,2.257045,1.708014,2.138456,1.77577,2.596252,2.737821,1.258685,1.281278,1.403024,0.979491,1.615488,1.135517,1.238812,1.002814,1.354144
min,0.000000,0.000000,2.333333,4.166667,4.875000,2.625000,3.800000,1.375000,18.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.00000,1.000000,0.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,3.000000,2.000000
25%,0.000000,0.055556,5.619048,6.888889,7.000000,5.928571,6.400000,4.941176,24.000000,5.000000,1.000000,1.000000,1.000000,4.000000,1.000000,2.000000,5.000000,2.000000,5.000000,7.000000,6.000000,5.000000,4.000000,2.000000,4.000000,7.000000,3.000000,5.000000,7.000000,6.000000,7.00000,4.000000,2.000000,7.000000,8.000000,7.000000,8.000000,7.000000,6.929936,7.933121,8.000000,7.000000
50%,1.000000,0.136364,6.178344,7.194422,7.370777,6.404610,6.782620,5.441745,26.000000,8.000000,3.000000,3.000000,2.000000,5.000000,2.000000,6.000000,7.000000,4.000000,7.000000,8.000000,7.000000,7.000000,6.000000,3.000000,6.000000,8.000000,5.662684,7.000000,8.000000,7.000000,8.00000,6.000000,4.000000,7.005669,8.249433,7.675737,8.324263,7.523810,6.929936,7.933121,8.257962,7.385350
75%,1.000000,0.238095,6.888889,7.611111,7.734211,7.000000,7.166667,5.937500,28.000000,10.000000,6.000000,6.000000,2.000000,6.000000,3.000000,7.000000,8.000000,7.000000,8.000000,9.000000,8.000000,8.000000,8.000000,6.000000,8.000000,9.000000,7.000000,9.000000,9.000000,8.000000,9.00000,8.000000,7.000000,8.000000,9.000000,9.000000,9.000000,9.000000,7.000000,8.000000,9.000000,8.000000
max,1.000000,0.900000,8.529412,8.800000,8.800000,8.615385,8.666667,7.700000,55.000000,18.000000,10.000000,10.000000,6.000000,7.000000,7.000000,17.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,14.000000,10.000000,13.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [11]:
est = smf.ols('match ~ attr_o + sinc_o + intel_o+fun_o+amb_o+shar_o', lookup).fit()
print est.summary().tables[0]
print est.summary().tables[1]

                            OLS Regression Results
==============================================================================
Dep. Variable:                  match   R-squared:                       0.201
Model:                            OLS   Adj. R-squared:                  0.192
Method:                 Least Squares   F-statistic:                     22.88
Date:                Tue, 29 Nov 2016   Prob (F-statistic):           4.05e-24
Time:                        23:28:34   Log-Likelihood:                 327.95
No. Observations:                 552   AIC:                            -641.9
Df Residuals:                     545   BIC:                            -611.7
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     -0.2926      0.081     -3.613      0.000        -0.452    -0.134
attr_o         0.0269      0.008      3.496      0.001         0.012     0.042
sinc_o        -0.0118      0.012     -0.978      0.329        -0.036     0.012
intel_o        0.0099      0.017      0.581      0.562        -0.024     0.043
fun_o          0.0264      0.011      2.452      0.015         0.005     0.048
amb_o          0.0005      0.012      0.045      0.964        -0.022     0.023
shar_o         0.0247      0.011      2.197      0.028         0.003     0.047
==============================================================================

In [12]:
est = smf.ols('match ~ tvsports+exercise+dining+museums+art+hiking+gaming+clubbing+reading+tv+theater+movies+concerts+music+shopping+yoga', lookup).fit()
print est.summary().tables[0]
print est.summary().tables[1]

                            OLS Regression Results
==============================================================================
Dep. Variable:                  match   R-squared:                       0.063
Model:                            OLS   Adj. R-squared:                  0.035
Method:                 Least Squares   F-statistic:                     2.254
Date:                Tue, 29 Nov 2016   Prob (F-statistic):            0.00355
Time:                        23:28:35   Log-Likelihood:                 283.96
No. Observations:                 552   AIC:                            -533.9
Df Residuals:                     535   BIC:                            -460.6
Df Model:                          16
Covariance Type:            nonrobust
==============================================================================
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      0.0557      0.050      1.107      0.269        -0.043     0.155
tvsports      -0.0024      0.003     -0.929      0.353        -0.007     0.003
exercise       0.0011      0.003      0.407      0.684        -0.004     0.006
dining         0.0066      0.004      1.557      0.120        -0.002     0.015
museums       -0.0124      0.007     -1.878      0.061        -0.025     0.001
art            0.0106      0.006      1.844      0.066        -0.001     0.022
hiking         0.0016      0.003      0.591      0.555        -0.004     0.007
gaming         0.0004      0.003      0.135      0.893        -0.005     0.006
clubbing       0.0105      0.003      3.884      0.000         0.005     0.016
reading        0.0044      0.003      1.288      0.198        -0.002     0.011
tv             0.0010      0.003      0.321      0.749        -0.005     0.007
theater       -0.0025      0.004     -0.636      0.525        -0.010     0.005
movies        -0.0067      0.005     -1.440      0.150        -0.016     0.002
concerts       0.0040      0.004      0.927      0.355        -0.004     0.012
music          0.0017      0.005      0.360      0.719        -0.008     0.011
shopping      -0.0027      0.003     -0.882      0.378        -0.009     0.003
yoga           0.0034      0.003      1.336      0.182        -0.002     0.008
==============================================================================